/*header*/

header{
	text-align:center;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 1px rgba(255,255,255,.35);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 1px rgba(255,255,255,.35);
	box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 1px rgba(255,255,255,.35);
	border-bottom: solid 1px #106770;
	background-image: -webkit-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: -moz-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: -o-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: -ms-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: linear-gradient(to top, #189ca9, #44cbd9 89%, #27dcef);
}

header h1{
	padding: 15px;
}

header img {
    max-width: 88px;
    width: 30%;
    height: auto;
    padding: 10px 0 7px 0;
}