/*layout*/

#wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
	background:#000;
}

.view{
	width:100%;
}
.view.inview{
	/*background: #eeeeee;*/
}


#filter {
	width: 90%;
	margin: 0 20px;
	background: rgba(255, 255, 255, 0.95);
	position: absolute;
	top: 70px;
	height: 100px;
	z-index: 3;
	padding: 20px;
	box-sizing: border-box;

/*splash*/
#splash{
	position:absolute;
	top:0;
	left:0;
	background:red;
	z-index:100;
	width:100%;
	height:100%;
	
	-webkit-transition: 500ms ease all; /* Safari/Chrome */
	-moz-transition: 500ms ease all; /* Firefox */
	-ms-transition: 500ms ease all; /* IE10 */
	-o-transition: 500ms ease all; /* Opera */
	transition: 500ms ease all; /* Future Browsers */


}

/*list*/
#list{
position: absolute;
top: 49px;
left: 0;
background: white;
z-index: 2;
}
.list-wrapper{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	position:relative;
	background: rgba(0, 0, 0, 0.25);
	overflow-x: hidden;
}
.list-wrapper h2 {
	max-width:80%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-transform:capitalize;
	margin-bottom:0;
	height:20px;
	font-weight: 600;
color: rgb(95, 95, 95);
text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.list-wrapper ul {
padding: 0;
margin: 0;
}

.list-wrapper .list-item {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 1px;
    font-size: 12px;
		background-color: #fff;
		-webkit-box-shadow: 0 1px rgba(0,0,0,.3);
		-moz-box-shadow: 0 1px rgba(0,0,0,.3);
		box-shadow: 0 1px rgba(0,0,0,.3);
		background-image: -webkit-linear-gradient(bottom, #ebebeb, #fff);
		background-image: -moz-linear-gradient(bottom, #ebebeb, #fff);
		background-image: -o-linear-gradient(bottom, #ebebeb, #fff);
		background-image: -ms-linear-gradient(bottom, #ebebeb, #fff);
		background-image: linear-gradient(to top, #ebebeb, #fff);
}

.list-wrapper .list-item div {
    line-height: 12px;
}

.icon-small {
    width: 21.5px;
    height: 16px;
    display: inline-block;
    margin: 0 5px 0 0;
    position:absolute;
    top:6px;
    right:10px;
}
.icon-small img {
	width:100%;
}
.filter.icon-small {
	left: 10px;
	right: auto;
	top: 3px;
}
.map-icon {
	position:relative;
	top:-3px;
}

.event-category {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}
.event-category.concert {
	background: url('../img/music_icon.png') no-repeat;
	display: block;
	background-size: 50% 50%;
	margin-top: 15px;
	margin-right: -15px;
}
.event-time, .event-venue {
	color: rgb(95, 95, 95);
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
	text-transform: capitalize;
}

.event-time img, .event-venue img {
	margin-right:5px;
	height:10px;
}

#e-details {
    background:#fff;
    position:relative;
    z-index:2;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
   	margin-top:200px;
}

#e-details div {
    line-height: 20px;
}

#e-details .e-details-wrapper {
    padding: 10px;
}

.e-details-wrapper .event-category-details {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px; 
}

.e-details-wrapper .category-div {
    padding: 0;
}

.e-details-wrapper .event-category-details span {
    text-transform: capitalize;
    color: rgb(95, 95, 95);
    line-height: 20px;
    display: inline-block;
}

.e-details-wrapper .event-category-details .event-category {
	background: url('../img/music_icon.png') no-repeat;
	display: inline-block;
	background-size: 100% 100%;
	position: relative;
	width: 20px;
	height: 20px;
	
}

.e-details-wrapper .event-category-details img {
    max-height: 20px;
    height: 100%;
    width: 20px;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    bottom: 0;
    left: 0;
    position: absolute; 
}

.e-details-wrapper .event-category-details .location {
    margin-left: 5px;
    width: 10px;
}

.e-details-wrapper .event-description {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

#e-details .e-details-wrapper .event-description a {
    display: none;
}

.e-details-wrapper .event-eventurl {
    text-align: center;
}

.e-details-wrapper .event-eventurl a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: #1d6269;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.4);
    margin-top: 20px;
}
