/* map */

.leaflet-container{
	height:100%;
}
.hide{
    opacity:0;
}

#map{
    position:absolute;
    top:49px;
    left:0px;
    z-index:1;
}

#mapRefresh {
position: absolute;
left: 50%;
margin-left: -43px;
bottom: 20px;
border-radius: 53px;
padding: 30px 25px 30px 30px;
opacity: 0;
width: 86px;
}

#mapRefresh img {
height: 22px;
width: 27px;
}