/*

	ESCAPADE

*/

.slide-in-setup
 {
	-webkit-transition: 500ms ease all; /* Safari/Chrome */
	-moz-transition: 500ms ease all; /* Firefox */
	-ms-transition: 500ms ease all; /* IE10 */
	-o-transition: 500ms ease all; /* Opera */
	transition: 500ms ease all; /* Future Browsers */
 
	-webkit-transform:translateY(100%);
	position:relative;
}
.slide-out-setup {
	-webkit-transition: 500ms ease all; /* Safari/Chrome */
	-moz-transition: 500ms ease all; /* Firefox */
	-ms-transition: 500ms ease all; /* IE10 */
	-o-transition: 500ms ease all; /* Opera */
	transition: 500ms ease all; /* Future Browsers */

	-webkit-transform:translateY(0);
	position:relative;	
}

.slide-in-setup.slide-in-start {
	-webkit-transform:translateY(0);
}
.slide-out-setup.slide-out-start {
	-webkit-transform:translateY(100%);
}


.btn {
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 1px rgba(255,255,255,.35);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 1px rgba(255,255,255,.35);
	box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 1px rgba(255,255,255,.35);
	border: solid 1px #106770;
	background-image: -webkit-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: -moz-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: -o-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: -ms-linear-gradient(bottom, #189ca9, #44cbd9 89%, #27dcef);
	background-image: linear-gradient(to top, #189ca9, #44cbd9 89%, #27dcef);
}