<html ng-app="escapadeapp">
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<title>escapade</title>
	<!--styles-->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!--nav-->
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<!--typo-->
	<link rel="stylesheet" type="text/css" href="css/typo.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
	<!--gen layout-->
	<link rel="stylesheet" type="text/css" href="css/layout.css">

	<!--VIEWVIEWVIEWS-->
	<!-- map -->
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>

	<!-- leaflet -->
	<script src="libs/leaflet.js"></script>
	<script src="libs/moment.js"></script>
	<script src="directives/angular-google-maps.js"></script>

	<script src="app.js"></script>
	<script src="controllers/listctrl.js"></script>
</head>
<body ng-controller="mapController">
	<div id="wrapper" ng-controller="ListCtrl">
		<header>
			<span class="filter icon-small" ng-switch on="inView">
				<a href="#" ng-click="changeView('list')" ng-switch-when="details"><img src="img/arrow_icon.png"></a>
				<a href="#" ng-click="changeView('filter')" ng-switch-default><img src="img/filter_icon.png"></a>
			</span>
			<img src="img/logo.png">
			<span ng-switch on="inView" class="icon-small">
				<a href="#" class="map-icon" ng-click="changeView('map')" ng-switch-when="list"><img src="img/map_icon.png"></a>
				<a href="#" ng-click="changeView('list')" ng-switch-default><img src="img/list_icon.png"></a>
			</span>
		</span>
	</header>
	<!-- EVENT MAP -->
	<div id="map" class="view">
		<google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="false" id="g-map" style="display:block;"></google-map>
	</div>

	<!-- EVENT LIST  -->
	<div id="list" class="view" ng-show="inView == 'list'" ng-animate="{show:'slide-in', hide:'slide-out'}">
		<div class="list-wrapper">
			<ul>
				<li class="list-item" ng-repeat="event in events" ng-click="showDetails($index, event)">
					<h2>{{event.name.toLowerCase()}}</h2>
					<div class="event-time"><img src="img/miniclock.png">{{event.relativeStart}}</div>
					<div class="event-venue"><img src="img/minipin.png">{{event.location.toLowerCase()}}</div>
					<span class="event-category" ng-class="event.topCategory">				            	
					</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- FILTER -->
	<div id="filter" ng-show="showFilter">
		<img src="img/music_icon.png">
		<img src="img/sports_icon.png">
		<img src="img/food_icon.png">
	</div>

	<!-- EVENT DETAIL  -->

	<div id="e-details" class="view" ng-show="inView == 'details'">
		<div class="e-details-wrapper">
			<div class="event-title-details">
			    <h2>{{events[detailsID].name}}</h2>
			</div>
			<div class="event-category-details category-div">
			  	<span class="event-category" ng-class="event.topCategory">
			  	</span>
			</div>
			<div class="event-category-details">
			    <img src="img/detail_clock.png">
			    <span>{{events[detailsID].relativeStart}}</span>
			</div>
			<div class="event-category-details">
			    <img class="location" src="img/detail_pin.png">
			    <span>{{events[detailsID].location}}</span>
			</div>
			<div class="event-description" ng-bind-html-unsafe="events[detailsID].description">
			</div>
			<div class="event-eventurl">
				<a class="btn" href="eventurl" ng-href="events[detailsID].url">TAKE ME THERE</a>
			</div>
	    </div>
	</div>
</div>
</body>
</html>